@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContent.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")

@{
    var articleData = (ArticleLimpet)Model.List.First();
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
}

@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/" + articleData.AdminAppThemeFolder + "/resx")

<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>

<div class="w3-row">
    <div id="articledetailpanel" class="w3-threequarter">
        @RenderTemplate("AdminRow.cshtml", appTheme, Model, true)
    </div>
    <div class="w3-quarter">
        @RenderTemplate("AdminRowSelect.cshtml", appTheme, Model, true)
    </div>
</div>
