@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContent.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")

@{
    var info = new SimplisityInfo();
    var appThemeSystem = new AppThemeSystemLimpet("rocketcontent");
    var sessionParams = Model.SessionParamsData;
    var articleData = (ArticleLimpet)Model.List.First();
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var articleRowData = (ArticleRowLimpet)Model.GetDataObject("articlerow");
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var portalData = new PortalLimpet(articleData.PortalId);

    if (articleRowData.Info != null)
    {
        info = articleRowData.Info;
    }

}

@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/" + articleData.Organisation + "/" + articleData.AdminAppThemeFolder + "/resx/")

<!-- require Key for saving -->
@HiddenField(info, "genxml/config/rowkey")
@HiddenField(info, "genxml/lang/genxml/config/rowkeylang", "", articleRowData.RowKey)

<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>

<div class='w3-row w3-xlarge w3-padding'>
    @info.GetXmlProperty("genxml/lang/genxml/textbox/title")
</div>

<div class='w3-row w3-padding'>

    <div class="w3-bar" style="cursor: pointer;">
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink htmltablink" onclick="openSection('html')">@ResourceKey("DNNrocket.html")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink imgstablink" onclick="openSection('imgs')">@ResourceKey("DNNrocket.images")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink docstablink" onclick="openSection('docs')">@ResourceKey("DNNrocket.docs")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink linkstablink" onclick="openSection('links')">@ResourceKey("DNNrocket.links")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink htmltexttablink" onclick="openSection('htmltext')">@ResourceKey("HtmlContent.htmltext")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink htmlvideotablink" onclick="openSection('htmlvideo')">@ResourceKey("HtmlContent.htmlvideo")</div>
        <div class="w3-bar-item w3-bottombar w3-hover-grey w3-padding tablink othertablink" onclick="openSection('other')">@ResourceKey("HtmlContent.extra")</div>
    </div>

    <div id="html" class='w3-row sectionname' style="display:none">
        <div class='w3-row w3-padding'>
            @{
                var imgLayoutList = "";
                for (int i = 0; i < 9; i++)
                {
                    imgLayoutList += "<img src='" + portalData.EngineUrlWithProtocol + "/DesktopModules/RocketThemes/" + articleData.Organisation + "/" + articleData.AdminAppThemeFolder + "/img/Newspaper" + i + ".png' />,";
                }
                imgLayoutList = imgLayoutList.TrimEnd(',');
            }
            <label>@ResourceKey("HtmlContent.layout")</label>
            @RadioButtonList(info, "genxml/select/layout", "0,1,2,3,4,5,6,7,8", imgLayoutList, "class='w3-input w3-border' ", "0", "", false, 0)
        </div>
        <div class='w3-row'>
            <div class='w3-col m5 w3-padding'>
                <label>@ResourceKey("HtmlContent.heading")</label>		&nbsp;@EditFlag(sessionParams)
                @TextBox(info, "genxml/lang/genxml/textbox/title", " class='w3-input w3-border' autocomplete='off' ", "", true, 0)
            </div>
            <div class='w3-col m1 w3-padding' style='min-width: 64px;'>
                <label>@ResourceKey("HtmlContent.headingstyle")</label>
                @DropDownList(info, "genxml/select/headingstyle", "h1,h2,h3,h4", "H1,H2,H3,H4", "class='w3-select w3-border ' ", "", false, 0)
            </div>
            <div class='w3-col m2 w3-padding w3-center' style='min-width: 160px;'>
                <label>&nbsp;</label>
                @RadioButtonList(info, "genxml/select/headingalign", "0,1,2", "<span class='material-icons'>format_align_left</span>,<span class='material-icons'>format_align_center</span>,<span class='material-icons'>format_align_right</span>", "", "1", "", false, 0, "")
            </div>
            <div class='w3-col m2 w3-padding'>
                <label>@ResourceKey("HtmlContent.hideheading")</label><br />
                @CheckBox(info, "genxml/checkbox/hideheading", "", "class='w3-check' ", false, false, 0)
            </div>
            <div class='w3-col m2 w3-padding'>
                <label>@ResourceKey("HtmlContent.hide")</label><br />
                @CheckBox(info, "genxml/checkbox/hiderow", "", "class='w3-check' ", false, false, 0)
            </div>
        </div>
        <div class='w3-col m12 w3-padding'>
            @EditFlag(sessionParams)
            <div class='w3-col m12'>
                @CKEditor4(info, "genxml/lang/genxml/textbox/richtext", true)
            </div>
            <div class='w3-col' style='width:0px;height:300px;'></div>
        </div>
    </div>

    <div id="imgs" class='w3-row sectionname' style="display:none">
        <div class='w3-col m12 w3-padding '>
            @RenderTemplate("ArticleImages.cshtml", appThemeSystem, Model, true)
            @RenderTemplate("ArticleImageSelect.cshtml", appThemeSystem, Model, true)
        </div>
    </div>

    <div id="docs" class='w3-row sectionname' style="display:none">
        <div class='w3-col m12 w3-padding '>
            @RenderTemplate("ArticleDocuments.cshtml", appThemeSystem, Model, true)
            @RenderTemplate("ArticleDocumentSelect.cshtml", appThemeSystem, Model, true)
        </div>
    </div>

    <div id="links" class='w3-row sectionname' style="display:none">
        <div class='w3-col m12 w3-padding '>
            @RenderTemplate("ArticleLinks.cshtml", appThemeSystem, Model, true)
        </div>
    </div>

    <div id="htmltext" class='w3-row sectionname' style="display:none">
        <div class='w3-col m12 w3-padding'>
            @EditFlag(sessionParams)
            @TextArea(info, "genxml/lang/genxml/textbox/htmltext", " class='w3-input w3-border' rows='8' ", "", true, 0)
        </div>
    </div>
    <div id="htmlvideo" class='w3-row sectionname' style="display:none">
        <div class='w3-col m12 w3-padding'>
            @EditFlag(sessionParams)
            @TextArea(info, "genxml/lang/genxml/textbox/htmlvideo", " class='w3-input w3-border' rows='8' ", "", true, 0)
        </div>
    </div>

    <div id="other" class='w3-row sectionname' style="display:none">

            <div class="w3-row w3-margin">
            <div class="w3-quarter w3-padding">
                <label>@ResourceKey("HtmlContent.backgroundcolor")</label><br/>
                @CheckBox(info, "genxml/checkbox/backgroundcolor","&nbsp;" + ResourceKey("HtmlContent.on").ToString(),"class='w3-check'")
            </div>
            <div class="w3-third w3-padding ">
                <label>@ResourceKey("HtmlContent.rowwidth")</label>
                @TextBox(info, "genxml/textbox/rowwidth", " class='w3-input w3-border' min='0' max='4' step='1'", "4",false,0,"","range")
            </div>
            </div>    

    </div>

</div>



<script>
    $(document).ready(function () {

        var sectionName = localStorage.getItem('sectiontabs');
        if ((typeof sectionName === 'undefined') || sectionName === '' || sectionName === null) {
            sectionName = "html";
        }
        openSection(sectionName);

        $('#summary').trigger('onkeyup');
        $('#text').trigger('onkeyup');

    });


    function openSection(sectionName) {


        $('.sectionname').hide();
        $('.tablink').removeClass("w3-border-black");
        $('.tablink').removeClass("w3-theme-l3");
        $('#' + sectionName).show();
        $('.' + sectionName + 'tablink').addClass("w3-border-black");
        $('.' + sectionName + 'tablink').addClass("w3-theme-l3");
        localStorage.setItem('sectiontabs', sectionName);

        // so the hidden one gets adjusted
        $('#summary').trigger('onkeyup');
        $('#text').trigger('onkeyup');

    }

</script>


