@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContent.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@SecuritySiteKey(Model.SessionParamsData)

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")

@{
    var articleData = (ArticleLimpet)Model.List.First();
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
}

@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/" + articleData.AdminAppThemeFolder + "/resx")

<div class="w3-theme-action w3-margin-bottom w3-row w3-padding simplisity_click" s-cmd="remote_addrow" s-fields='{"dataref":"@articleData.DataRef","moduleref":"@remoteModule.ModuleRef"}' style="cursor:pointer;">
    @ButtonText(ButtonTypes.add)
</div>

<div class="w3-hide simplisity_click" id="rowsort" s-cmd="remote_sortrows" s-fields='{"dataref":"@articleData.DataRef","moduleref":"@remoteModule.ModuleRef"}'></div>

<ul id="rowselectdata" class="w3-ul">

    @foreach (var articleRow in articleData.GetRows())
    {
        <li class="w3-row w3-display-container w3-padding w3-border-0" style="list-style-type: none;">
            <div id="@articleRow.RowKey" class="w3-row w3-card w3-padding w3-theme-l3 w3-small selectedrow" style="cursor:pointer;">
                <span class="simplisity_click" rowkey="@articleRow.RowKey" s-cmd="remote_edit" s-fields='{"selectkey":"@articleRow.RowKey","moduleref":"@remoteModule.ModuleRef","dataref":"@articleData.DataRef"}'>@ButtonIcon(ButtonTypes.edit)&nbsp;<b>@articleRow.Info.GetXmlProperty("genxml/lang/genxml/textbox/title")&nbsp;</b></span>
                <span class="w3-right w3-button w3-align-right simplisity_confirmclick" s-confirm="@ResourceKey("RC.removerow")" s-cmd="remote_removerow" s-fields='{"selectkey":"@articleRow.RowKey","dataref":"@articleData.DataRef","moduleref":"@remoteModule.ModuleRef"}' style="width:60px;">@(ButtonIcon(ButtonTypes.remove))</span>
            </div>
        </li>
    }
</ul>

<script>
    $(document).ready(function () {
        $('.selectedrow').removeClass('w3-theme-l3');
        $('#' + $('#rowkey').val()).addClass('w3-theme-l3');

        $("#rowselectdata").sortable({
            stop: function (event, ui) { saverowselectsort(); }
        });
        $("#rowselectdata").disableSelection();

    });

    function saverowselectsort() {
        var selectkeylist = '';
        $('.selectedrow').each(function (index, value) {
            selectkeylist += this.id + ',';
        });
        simplisity_setParamField('selectkeylist', selectkeylist)
        $('#rowsort').trigger('click');
    }

</script>

