@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContent.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")

@{
    var info = new SimplisityInfo();
    var articleData = (ArticleLimpet)Model.List.First();
    if (articleData.Info != null)
    {
        info = articleData.Info;
    }
    var appThemeSystem = new AppThemeSystemLimpet("rocketcontent");
    var sessionParams = Model.SessionParamsData;
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var portalData = new PortalLimpet(PortalUtils.GetCurrentPortalId());
    var rowlp = 1;
}

@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/" + remoteModule.AppThemeFolder + "/resx")

<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>

<div class="w3-row">
    <div id="articledetailpanel" class="w3-threequarter">
        @RenderTemplate("AdminRow.cshtml", appTheme, Model, true)
    </div>
    <div class="w3-quarter">

        <div class="w3-row w3-theme-action simplisity_click" s-cmd="remote_addrow" s-fields='{"dataref":"@articleData.DataRef"}'>
            <div class=" w3-padding w3-button ">
                @ButtonText(ButtonTypes.add)
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-bar-block w3-light-grey  w3-small w3-mobile" style="width:100%">
                @foreach (var articleRow in articleData.GetRows())
                {
                    <div class="w3-bar-item w3-button w3-padding simplisity_click" style="" s-cmd="remote_edit" s-fields='{"key":"@articleRow.Info.GetXmlProperty("genxml/config/key")","dataref":"@articleData.DataRef"}'>@(rowlp) : @articleRow.Info.GetXmlProperty("genxml/lang/genxml/textbox/title")</div>
                    rowlp += 1;
                }
            </div>
        </div>
        </div>
</div>



